streamlit
pandas
numpy
scikit-learn
xgboost
matplotlib
plotly
joblib
reportlab
Pillow
pytesseract
pdfplumber
google-generativeai
python-dotenv
streamlit-option-menu
streamlit-mic-recorder
opencv-python-headless
